body{
  font-family: 'Roboto-Light', Helvetica , sans-serif;
}
.container{
  width: auto;
  height: auto;
}
h1{
  margin-top: 110px;
}
li {
  list-style-type: none;
  display: inline;
  margin-right: 25px;
}
span {
 font-weight: bold;
}
.menu {
  background-color: rgb(239,255,255);
  border: 1px solid blue;
  width: 1000px;
}
.frame-1{
  background-color: #ACF414;
  float: left;
  height: 44px;
  width: 100px;
}
.frame-2{
  background-color: #7A54E6;
  float: left;
  height: 44px;
  width: 100px;
}
.frame-3{
  background-color: #CC1298;
  float: left;
  height: 44px;
  width: 100px;
}
.frame-4{
  background-color:  #D9D9D9;
  height: 44px;
  width: 700px;
  float: left;
  display: flex;
}